@import "./colorCodes.scss";

@each $color, $code in $pink-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $red-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $light-red-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $orange-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $amber-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $yellow-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $lime-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $green-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $light-green-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $cyan-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $blue-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $indigo-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $light-blue-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $teal-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $purple-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $blue-grey-colors {
  .bg-#{$color} {
    background-color: #{$code};
  }
}

@each $color, $code in $brown-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

@each $color, $code in $grey-colors {
  .bg-#{$color}{
      background-color: #{$code};
  }
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}


