// These are the colors that are used in the Ocean theme.
$bg-blue-grey-900: #102A43;
$bg-blue-grey-800: #243B53;
$bg-blue-grey-700: #334e68;
$bg-blue-grey-600: #486581;

// These are the colors that are used in the Clouds theme.
$bg-cool-grey-900: #1f2933;
$bg-cool-grey-800: #323f4b;
$bg-cool-grey-700: #3e4c59;
$bg-cool-grey-600: #52606d;

// These are the colors that are used in the Rocks theme.
$bg-dark-grey-900: #212121;
$bg-dark-grey-800: #424242;
$bg-dark-grey-700: #616161;
$bg-dark-grey-600: #737373;