@import "../colorCodes.scss";
@import "../sizeCodes.scss";

$colorLists: $pink-colors, $red-colors, $light-red-colors, $orange-colors,
  $amber-colors, $yellow-colors, $lime-colors, $green-colors,
  $light-green-colors, $teal-colors, $blue-colors, $light-blue-colors,
  $cyan-colors, $purple-colors, $indigo-colors, $blue-grey-colors, $grey-colors;

@each $media, $mediaValue in $mediaQueries {
  @media (min-width: $mediaValue) {
    @each $colorList in $colorLists {
      @each $color, $code in $colorList {
        .#{$media}text-#{$color} {
          color: #{$code};
        }
      }
    }
    .#{$media}text-black {
      color: $black;
    }

    .#{$media}text-white {
      color: $white;
    }
  }
}